@using EntityLayer.Concrete
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı Mail</th>
        <th>Yetki</th>
        <th>Statü</th>
        <th>Pasif Yap</th>
        <th>Yetkisin Değiştir</th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AdminID</th>
            <td>@item.AdminUserName</td>
            <td>@item.AdminRole</td>
            <td>Aktif</td>

            <td><a href="/AdminCategory/DeleteCategory/@item.CategoryID" class="btn btn-danger">Pasif Yap</a></td>
            <td><a href="/AdminCategory/EditCategory/@item.CategoryID" class="btn btn-success">Yetkisini Değiştir</a></td>
            <td><a href="#" class="btn btn-info">Başlıklar</a></td>
        </tr>
    }

</table>
<a href="/AdminCategory/AddCategory" class="btn btn-primary">Yeni Admin Tanımla</a>

