
@{
    ViewBag.Title = "Page404";
    Layout = null;
}

<!DOCTYPE HTML>

<html lang="en-US">

<head>

    <title>Aradığınız Sayfa Bulunamadı</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <br />
    <img src="~/AdminLTE-3.0.4/9085b4e852b3b5f.png" />
    <br /><br />
    <a href="/Writer/Index" class="btn btn-block btn-primary">Oooops!! Evine Dön :)</a>

</body>

</html>
